.embed-soundcloud {
    display: block;
    width: 100%;
    height: 245px;
    margin: 50px 0 65px;
}

.album-cta {
    overflow: hidden;
    margin-bottom: 80px;
}

a.support-cta {
    float: left;
    font-size: 24px;
    padding-top: 6px;
}

a.download-album-cta {
    float: right;
    width: 300px;
}

@media only screen and (max-width: 667px) {
    .embed-soundcloud {
        height: 405px;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 520px) {
    .album-cta {
        text-align: center;
    }

    a.support-cta, a.download-album-cta {
        float: none;
    }

    a.support-cta {
        display: inline-block;
        margin-bottom: 25px;
    }
}
