form {
	color: #000000;
    /*margin: 30px 180px 40px 180px;*/
    text-align: center;
    margin: 30px 180px 40px 180px;
}

input {
	width: 300px;
	height: 46px;
	border: 1px solid #979797;
	background-color: #D8D8D8;
	font-size: 13px;
	color: #666666;
	padding: 0px 10px 0px 15px;
	vertical-align: middle;
}

button {
	width: 150px;
	height: 46px;
	border: 1px solid #979797;
	background-color: #666666;
	font-size: 15px;
	color: #eeeeee;
	padding: 2px 3px 0px 0px;
	text-align: center;
	vertical-align: middle;
}

p.error {
	color: #a3496a;
	margin-left: 6px;
}
