.container.lyrics > a {
    display: block;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
    color: #585a5f;
}

.container.lyrics > a:hover {
    opacity: 0.9;
}

p.copy {
	font-size: 18px;
	color: #999999;
	margin: 10px 0 20px 0;
}