body {
    background: url('/img/background.jpg') 0px 0px repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#midground {
    background: url('/img/midground.png') 0px 0px repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#foreground {
    background: url('/img/foreground.png') 0px 0px repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

/* JS-free animation with css transitions: very slow
#foreground {
    background: url('/img/midground.png') 50% 0%, url('/img/foreground.png') 90% 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: right 300s linear;
    -moz-transition: right 300s linear;
    -o-transition: right 300s linear;
    -ms-transition: right 300s linear;
    transition: right 300s linear;
}

body:hover #foreground {
    right: -9999px;
}
*/

.menu {
    position: absolute;
    margin-left: 2.5vw;
    margin-top: -13vh;
    z-index: 3;
    cursor: pointer;
}

.menu img {
    width: 5vh; 
    height: 3.6vh;
    max-width: 39px;
}

#logo {
    position: absolute;
    background: url('/img/logo.png') 0 0 no-repeat;
    background-size: contain;
    width: 13vw;
    height: 7.65vw;
    top: 1vw;
    left: 50%;
    margin-left: -6vw;
    z-index: 2;
    opacity: 1;
} 

#logo.hide {
    -webkit-transition: opacity 4s ease-in-out;
    -moz-transition: opacity 4s ease-in-out;
    -ms-transition: opacity 4s ease-in-out;
    -o-transition: opacity 4s ease-in-out;
    opacity: 0;
}

#container {
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    margin-top: 18vh;
    margin-bottom: 6vh;
    max-height: 556px;
    max-width: 513px;
} 

#circle {
    margin: auto;
    width: 59.8vh;
    height: 65vh;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

#circle::after {
    content: "";
    background: url('/img/kolo.png') 0 0 no-repeat; 
    background-size: contain;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
}

#circle.dragover::after {
    opacity: 0.9;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#arrow {
    background: url('/img/arrow.png') 0 0 no-repeat; 
    background-size: contain;
    position: absolute;
    width: 0;
    height: 0;
    top: 7.5vh;
    margin-left: 2vw;
    -moz-animation: cssAnimation 0s ease-in 1s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 14vw;
        height: 20vh;
        overflow:visible;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width: 14vw;
        height: 20vh;
        visibility:visible;
    }
}

#field {
    position: absolute;
    height: 70%;
    width: 70%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#play, #play-ghost {
    width: 14.76vh;
    height: 14vh;
    max-width: 97px;
    max-height: 92px;
    position: absolute;
    margin-left: -33px;
    margin-top: -58px;
    left: 50%;
    top: 50%;
}

#play {
    background: url('/img/play_btn.png') 0px 0px no-repeat;
    background-size: contain;
    /* WTF? Why words do not drag on iPhone EMU after combo worked once? */
    transition: filter 300ms linear;
    -webkit-transition: -webkit-filter 300ms linear;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#play-ghost {
    display: none;
}

#circle.combo #play {
    opacity: 0.9;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#circle.combo #play.hover {
    opacity: 1;
}

#circle.combo #play-ghost {
    display: block;
    cursor: pointer;
}

.ghost-hand {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url('/img/ghost_hand.png') 0px 0px no-repeat;
    background-size: 16px 32px;
}

.ghost-hand.grab {
    background-position: 0 -16px;
}

.word {
    width: 20vw;
    height: auto;
    cursor: -webkit-grab; 
    /*border: blue solid 1px;*/
}

.word img {
    width: 80%;
    height: 80%;
}

.slot {
    position: absolute;
}

.slot-left {
    right: 100%;
}

.slot-right {
    left: 100%;
}

.slot1 {
    top: 4vh;
    margin-right: -9vw;
}

.slot2 {
    top: -2vh;
    margin-left: -7vw;
}

.slot3 {
    top: 25vh;
    margin-right: -3vw;
}

.slot4 {
    top: 17vh;
    margin-left: 1vh;
}

.slot5 {
    top: 45vh;
    margin-right: -6vw;
}

.slot6 {
    top: 36vh;
    margin-left: 1vw;
}

.slot7 {
    top: 54vh;
    margin-right: -54vw;
}

.slot8 {
    top: 58vh;
    margin-left: -39vw;

}

.none {
    display: none;
}

.video-container {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.video-content {
    width: 702px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.video-span {
    display: block;
    line-height: 200px;
    text-align: center;
    font-size: 62px;
}

.overflow-hidden {
    overflow: hidden;
}

#close-video {
    position: absolute;
    right: 30px;
    top: 30px;
    background: url('/img/iclose.png') 0 0 no-repeat;
    background-size: contain;
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

#share {
    position: absolute;
    right: 90px;
    top: 30px;
    background: url('/img/ishare.png') 0 0 no-repeat;
    background-size: contain;
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/css/fonts/helvetica.eot');
    src: url('/css/fonts/helvetica.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/helvetica.woff') format('woff'),
         url('/css/fonts/helvetica.ttf') format('truetype'),
         url('/css/fonts/helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
   }

.nav {
    width: 30%;
    min-width: 200px;
    max-width: 360px;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}

.nav-hide {
    transform: translateX(-100%);
}

.nav-content {
    margin-top: 150px;
    align-self: flex-start;
    width: 100%;
    position: absolute;
}

.nav-span:before{
    content: "·";
    opacity: 0.9;
    color: white;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 21px;
    font-weight: 300;
    display: block;
    line-height: 58px;
}

.nav-a {
    opacity: 0.5;
    color: white;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 21px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    line-height: 58px;
}

.nav-img-content {
    align-self: flex-end;
    width: 100%;
    margin-bottom: 70px;
}

#nav-artpole {
    background: url('/img/art_logo.png') 0 0 no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    max-width: 147px;
    max-height: 31px;
    min-width: 89px;
    min-height: 20px;
    width: 24vw;
    height: 5vh;
}


/* debugging stuff */
/*
#container { border: red 1px dashed; }
#circle { border: orange 1px dashed; }
#circle.over { border: orange 1px solid; }
#field { border: blue 1px dashed; }
#play-ghost { border: purple 1px dashed; }
.slot { border: green 1px dashed; }
*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

    body {
        background-image: url('/img/background@2x.jpg');
    }
    #midground {
        background-image: url('/img/midground@2x.png');   
    }
    #foreground {
        background-image: url('/img/foreground@2x.png');   
    }
    #logo {
        background-image: url('/img/logo@2x.png');
    }
    #circle::after {
        background-image: url('/img/kolo@2x.png');
    }
    #play {
        background-image: url('/img/play_btn@2x.png');
    }
}
   
@media only screen and (min-width: 768px) and (max-width: 959px) { 

    #play {
        margin-left: -38px;
        margin-top: -46px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) { 

    #logo {
        width: 17vw;
        height: 9.29vw;
        margin-left: -8vw;
    }

    #play {
        width: 16.87vh;
        height: 16vh;
        margin-left: -23px;
        margin-top: -29px;
    }

}

@media only screen and (min-width: 1300px) {
    .slot7 {
        margin-right: -48vw;
    }

    .slot8 {
        top: 56vh;
        margin-left: -39vw;
    }

}

@media only screen and (orientation:portrait) {

    .menu {
        margin-top: -23vh;
        margin-left: 4vw;
    }

    #logo {
        width: 28vw;
        height: 15.3vw;
        margin-left: -13vw;
        top: 2vw;
    }

    #container {
        width: 70vw;
        margin-top: 27vh;
        margin-bottom: 27vh;
    }

    #circle {
        width: 55vw;
        height: 59.61vw;
    }

    #play {
        width: 18vw;
        height: 17.07vw;
        margin-left: -22px;
        margin-top: -40px;
    }

    .word {
        width: 25vw;
    }

    .word img {
        width: 100%;
        height: 100%;
    }

    .slot1 {
        top: -4vh;
        margin-right: -26vw;
    }

    .slot2 {
        top: -4vh;
        margin-left: -23vw;
    }

    .slot3 {
        top: 19vw;
        margin-right: -11vw;
    }

    .slot4 {
        top: 15vw;
        margin-left: -11vw;
    }

    .slot5 {
        top: 39vw;
        margin-right: -11vw;
    }

    .slot6 {
        top: 34vw;
        margin-left: -11vw;
    }

    .slot7 {
        top: 53vw;
        margin-right: -70vw;
    }

    .slot8 {
        top: 54vw;
        margin-left: -66vw;
    }
}

@media (max-height: 580px) {
    .nav-content {
        margin-top: 50px;
    }
    .nav-a {
        font-size: 18px;
        line-height: 18px;
    }
    .nav-img {
        width: 89px;
        height: 20px;
    }
    .nav-img-content {
        margin-bottom: 40px;
    }
}
