body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.8;
}

.about-banner {
    padding: 80px 0 0 0;
    min-height: 500px;
}

.about-banner-img {
    background: url('/img/about-banner.png') 0 0 no-repeat;
    background-position: 100% 0;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 70vw;
    max-width: 900px;
    height: 500px;
}

.about-banner-logo {
    background: url('/img/logo-dark.png') 0 0 no-repeat;
    background-size: contain;
    position: relative;
    width: 218px;
    height: 121px;
    top: 100px;
}

.about-banner-logo-lat {
    background: url('/img/about-logo-lat.png') 0 0 no-repeat;
    background-size: contain;
    position: relative;
    width: 218px;
    height: 121px;
    top: 100px;
}

.spot {
    position: absolute;
    left: 0;
    max-width: 668px;
}

.about-container {
    margin: 0 auto;
    width: 960px;
    position: relative;
    font-size: 80px;
}

.about-container-tour,
.about-container-top {
    width: 640px;
    margin: 0 auto;
}

.about-container-top-p {
    font-size: 18px !important;
    color: rgb(0, 0, 0);
    line-height: 1.667;
}

.about-container-top-p-big {
    font-size: 24px !important;
    color: rgb(0, 0, 0);
    line-height: 1.542;
    margin-bottom: 60px;
}

.photo {
    text-align: center;
    margin: 40px 0;
    font-size: 0;
}

.about-footer {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.875;
    z-index: 119;
    margin: 50px 0;
}

.bold {
    font-family: 'HelveticaBold';
}

.about-container-tour-right {
    display: inline-block;
    width: 68%;
    margin-right: 3%;
    vertical-align: top;
}

.about-container-tour-left {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.about-container-tour-left-text {
    font-size: 16px;
    color: rgb(165, 72, 106);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    z-index: 95;
    display: block;
    margin-bottom: 60px;
}

.about-container-tour-left-text:hover {
    text-decoration: none;
}

.tour-image {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
}

.tour-margin-bottom {
    margin-bottom: 50px;
}

.about-decor-small {
    position: absolute;
    left: 0;
    margin-top: 140px;
}

.about-decor {
    background: url('/img/about-decor.png') 0 0 no-repeat;
    height: 93px;
    max-width: 1034px;
    margin-top: 35px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.small-title {
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.702);
    font-weight: bold;
    line-height: 2.846;
    text-align: left;
    z-index: 155;
}

.author-row-text {
    display: inline-block;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    width: 55%;
    vertical-align: top;
}

.author-row-text a {
    color: rgb(165, 72, 106);
}

.author-row-text a:hover {
    text-decoration: none;
}

.author-img {
    display: inline-block;
    width: 37%;
    vertical-align: top;
}

.small-title-second {
    margin-top: -60px;
    display: block;
    margin-bottom: 35px;
}

.small-author-right,
.small-author-left {
    display: block;
    width: 65%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 45px;
}

.small-author-left {
    margin-left: 35%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    body {
        background-image: url('/img/background_about@2x.jpg');
    }

    .about-banner-img {
        background-image: url('/img/about-banner@2x.png');
    }

    .about-banner-logo-lat {
        background-image: url('/img/about-logo-lat@2x.png');
    }

    .about-banner-logo {
        background-image: url('/img/logo-dark@2x.png');
    }

    .about-decor {
        background-image: url('/img/about-decor@2x.png');
    }
}

@media only screen and (max-width: 1024px) {

    .about-banner {
        padding: 60px 0 0 0;
        min-height: 400px;
    }

    .about-container {
        width: 900px;
    }

    .about-banner-logo {
        position: relative;
        top: 100px;
        width: 20vw;
    }

    .about-banner-logo-lat {
        position: relative;
        top: 100px;
        width: 20vw;
    }

    .author-row-text {
        font-size: 16px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .about-container {
        width: 700px;
    }

    .about-container-tour, .about-container-top {
        width: 600px;
    }

    .about-container-top-p {
        font-size: 16px
    }

    .about-container-top-p-big {
        font-size: 18px
    }

    .apple {
        width: 300px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .about-banner {
        min-height: 300px
    }

    .about-banner-img {
        width: 50vw;
        height: 300px;
    }

    .about-container {
        width: 440px;
    }

    .about-container-tour, .about-container-top {
        width: 400px;
    }

    .about-container-top-p {
        font-size: 14px
    }

    .about-container-top-p-big {
        font-size: 16px
    }

    .apple {
        width: 200px;
    }

    .author-row-text {
        font-size: 14px;
    }

    .photo-img {
        width: 400px;
    }
}

@media screen and (max-width: 479px) {

    .about-banner {
        min-height: 300px
    }

    .about-banner-img {
        width: 50vw;
        height: 300px;
    }

    .about-container {
        width: 440px;
    }

    .about-container-tour, .about-container-top {
        width: 400px;
    }

    .about-container-top-p {
        font-size: 14px
    }

    .about-container-top-p-big {
        font-size: 16px
    }

    .apple {
        width: 200px;
    }

    .author-row-text {
        font-size: 14px;
    }

    .photo-img {
        width: 400px;
    }
}

