.container.send-ecards {
    text-align: center;
    max-width: 702px;
    overflow: visible;
}

.container.send-ecards:after {
    content: '';
    display: block;
    clear: both;
}

.container form {
    text-align: left;
}

.container label, .container input {
    display: block;
}

.container label {
    margin-bottom: 10px;
}

.container .video-content {
    position: relative;
    height: 325px;
    margin: 40px auto 20px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    top: 0;
    left: 0;
}

.container .video-content #prev, .container .video-content #next {
    top: 50%;
    margin-top: -20px;
}

a.random-words {
    font-size: 28px;
    cursor: pointer;
    text-decoration: underline;
}

p.throw-error {
    color: #a3496a;
    font-size: 17px;
    margin: 0 0 15px 0;
}

.success {
    position: relative;
    display: inline;
    color: #a3496a !important;
    font-size: 22px !important;
    margin-left: 30px;
    top: 2px;
}

.search-wrapper {
    position: relative;
    margin: 15px 51px;
}

.search-wrapper:before {
    content: '';
    background: url('/img/isearch.png') no-repeat center center;
    background-size: 65px;
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.search-result {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 2;
    text-align: left;
    background: #fff;
    border: 1px solid #9f9f9f;
    top: 64px;
    left: 0;
    margin: 0;
    height: 310px;
    display: block;
    overflow-y: scroll;
    transition: height 0.2s linear;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
}

.search-result.shrink {
    height: 0;
    border: none;
}

.search-result p {
    line-height: 28px;
    font-size: 24px;
    padding: 15px 30px 20px;
    margin: 0;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.search-result p.selected,
.search-result p:hover {
    background: #e9e9e9;
}

.search-input {
    margin: 0;
    width: 100%;
    font-size: 26px;
    height: 65px;
    line-height: 65px;
    padding-left: 70px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search-input.active {
    background: #e9e9e9;
    border-top: 2px solid #9f9f9f;
}

div.share-label {
    display: inline-block;
    margin: 53px 35px 0 51px;
    font-size: 24px;
    float: left;
}

.share-tab {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin: 40px 0 20px 65px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.8;
}

.share-tab:before {
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    border: 1px solid #9f9f9f;
    margin: 0 auto 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.share-tab:hover {
    opacity: 1;
}

.share-tab.active {
    opacity: 1;
    cursor: default;
}

.share-tab.email:before {
    background: #d8d8d8 url('/img/sendemail.png') no-repeat center center;
}

.share-tab.facebook:before {
    background: #d8d8d8 url('/img/sendfb.png') no-repeat center center;
}

.share-tab.embed {
    margin-left: 50px;
}

.share-tab.embed:before {
    background: #d8d8d8 url('/img/sendlink.png') no-repeat center center;
}

.share-tab.active:before {
    background-color: rgba(29, 29, 29, 0.7);
    border: 1px solid rgba(29, 29, 29, 0.4);
}

.share-tab.email:before,
.share-tab.facebook:before,
.share-tab.embed:before {
    background-size: 60px;
}

.share-tab:hover:before {
    background-color: rgba(29, 29, 29, 0.7);
    border: 1px solid rgba(29, 29, 29, 0.4);
}

.share-content {
    clear: both;
}

.share-content.none {
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .share-tab.email:before {
        background-image: url('/img/sendemail@2x.png');
    }

    .share-tab.facebook:before {
        background-image: url('/img/sendfb@2x.png');
    }

    .share-tab.embed:before {
        background-image: url('/img/sendlink@2x.png');
    }

    .search-wrapper:before {
        background-image: url('/img/isearch@2x.png');
    }
}

@media only screen and (max-width: 720px) {
    .search-wrapper {
        margin: 0;
    }

    div.share-label {
        margin: 33px 0 0 0;
    }
}

@media only screen and (min-width: 569px) and (max-width: 720px) {
    .container .video-content {
        width: 568px;
        height: 320px;
    }

    .video-content-main {
        width: 568px;
        height: 320px;
        margin: 0;
    }

    #card {
        width: 568px;
        height: 320px;
    }

    #card-img {
        width: 568px;
        height: 320px;
    }

    .container .video-content #prev {
        left: 5px;
    }

    .container .video-content #next {
        right: 5px;
    }
}

@media only screen and (max-width: 568px) {
    .container .video-content {
        width: 480px;
        height: 260px;
    }
}

@media only screen and (max-width: 479px) {
    .container .video-content {
        width: 320px;
        height: 175px;
    }
}

@media only screen and (max-width: 667px) {
    .share-tab {
        margin-left: 45px;
    }

    .share-tab.embed {
        margin-left: 25px;
    }

    .share-tab:before {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 375px) {
    .container:last-of-type {
        padding-bottom: 25px;
    }

    div.share-label {
        margin: 0;
    }

    .share-tab.email {
        clear: left;
        margin-left: 0;
    }

    .share-tab {
        margin: 10px 0 20px 45px;
    }

    .share-tab.embed {
        margin-left: 25px;
    }

    .share-tab:before {
        width: 45px;
        height: 45px;
    }

    .search-input {
        margin: 0;
        padding-left: 45px;
        font-size: 22px;
        height: 45px;
        line-height: 45px;
    }

    .search-wrapper:before {
        width: 45px;
        height: 45px;
    }

    .search-result {
        top: 45px;
    }

    .search-result p {
        line-height: 26px;
        font-size: 20px;

        padding: 15px 10px;
    }
}
