.postcards-slider {
    position: relative;
    height: 426px;
    margin: 0 0 30px;
    padding-top: 40px;
    overflow: hidden;
}

.postcards-slider>div:first-child {
    width: 9999px;
    position: relative;
    top: 0;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
}

.postcards-slider #prev,
.postcards-slider #next {
    top: 50%;
    margin-top: -37px;
}

.postcards-slider #prev {
    left: 20px;
}

.postcards-slider #next {
    right: 20px;
}

.postcards-slider #prev:hover,
.postcards-slider #next:hover {
    opacity: 0.95;
}

.postcards-slider .postcard {
    float: left;
    position: relative;
    opacity: 0.75;
    vertical-align: middle;
    margin-right: 10px;
}

.postcards-slider .postcard .flip {
    position: relative;
    width: 500px;
    height: 355px;
}

.postcards-slider .postcard.current {
    opacity: 1;
    margin-top: 3px;
}

.postcards-slider .postcard.current .flip {
    width: 490px;
    height: 348px;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    transition: transform 0.8s;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    -o-perspective: 1400px;
    -ms-perspective: 1400px;
    perspective: 1400px;
}

.postcards-slider .postcard .front,
.postcards-slider .postcard .back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #9f9f9f;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    transition: transform 0.8s;
}

.postcards-slider .postcard .front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.postcards-slider .postcard .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.postcards-slider .postcard .flip.rotate .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.postcards-slider .postcard .flip.rotate .back {
    z-index: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#rotate {
    display: block;
    position: absolute;
    width: 490px;
    height: 348px;
    top: 44px;
    left: 50%;
    margin-left: -245px;
    cursor: pointer;
    z-index: 1;
    background: url('/img/irotate.png') no-repeat center center;
}

#rotate:hover {
    opacity: 0.95;
}

.postcards-slider .postcard .number {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: #585a5f;
    font-family: FranklinGothicMedium;
}

.postcards-slider .current.postcard:after {
    bottom: -52px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .postcards-slider .postcard.current:before {
        background-image: url('/img/irotate@2x.png');
    }
}

@media only screen and (max-width: 620px) {
    #rotate {
        width: 55px;
        height: 55px;
        top: 50%;
        margin-left: -27px;
        margin-top: -45px;
    }
}

@media only screen and (max-width: 375px) {
    .postcards-slider .postcard.current .flip {
        width: 285px;
        height: 202px;
    }

    .postcards-slider .postcard .flip {
        width: 298px;
        height: 212px;
    }

    .postcards-slider {
        height: 255px;
    }

    .postcards-slider #prev {
        left: 15px;
    }

    .postcards-slider #next {
        right: 15px;
    }

    .postcards-slider {
        padding-top: 20px;
    }

    #rotate {
        margin-top: -35px;
    }

    .postcards-slider #prev,
    .postcards-slider #next {
        margin-top: -28px;
    }
}
