@font-face {
  font-family: FranklinGothicBook;
  src: url(/font/franklin_gothic_book.ttf);
}

.video-content-main {
    position: absolute;
    background-size: contain;
    width: 600px;
    height: 325px;
    box-sizing: border-box;
    margin: 0 51px auto 51px;
    font-family: FranklinGothicBook;
}

.card-simbol {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: #439481;
    font-size: 30px;
    font-weight: 300;
}

#prev {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('/img/iprev.png') 0 0 no-repeat;
    top: 35%;
    left: 0%;
    cursor: pointer;
}

#next {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('/img/inext.png') 0 0 no-repeat;
    top: 35%;
    right: 0%;
    cursor: pointer;
}

#close-card {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('/img/iclose.png') 0 0 no-repeat;
    top: 0px;
    right: 0px;
    border-radius: 20px;
    cursor: pointer;
}

#fbsend {
    width: 135px;
    height: 47px;
    position: absolute;
    bottom: 0px;
    left: 43%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#fbsend:before {
    content: "";
    position: absolute;
    z-index: 2;
    background: url('/img/isend.png') 0 0 no-repeat;
    background-size: contain;
    width: 135px;
    height: 47px;
}

#fbsend:hover {
    background-color: #fff;
}

#card.active {
    cursor: none;
}

.cursor {
    font-family: FranklinGothicBook;
    font-size: 30px;
    line-height: 0;
    color: #2C8E31;
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#share-result {
    position: absolute;
    bottom: -50px;
}

@media only screen and (max-width: 705px) {
    #prev {
        left: 8%;
    }

    #next {
        right: 8%;
    }

    #close-card {
        top: 1%;
        right: 8%;
    }

}
