@font-face {
  font-family: FranklinGothicBook;
  src: url(/font/franklin_gothic_book.ttf);
}

.video-content-main {
    position: absolute;
    background-size: contain;
    width: 600px;
    height: 325px;
    box-sizing: border-box;
    margin: 0 35px auto 35px;
}

.card-simbol {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: #439481;
    font-size: 30px;
    font-weight: 300;
}

#prev {
    width: 19px;
    height: 31px;
    position: absolute;
    background: url('/img/prev.png') 0 0 no-repeat;
    top: 39%;
    left: 0%;
    cursor: pointer;
}

#next {
    width: 19px;
    height: 31px;
    position: absolute;
    background: url('/img/next.png') 0 0 no-repeat;
    top: 39%;
    right: 0%;
    cursor: pointer;
}

#closecard {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

#closecard:before {
    content: "";
    position: absolute;
    z-index: 2;
    background: url('/img/closecard_btn.png') 0 0 no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -1px;
    right: -1px;
}

#closecard:hover {
    background-color: #fff;
}

#share {
    width: 106px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 44%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

#share:before {
    content: "";
    position: absolute;
    z-index: 2;
    background: url('/img/fbshare_btn2.png') 0 0 no-repeat;
    background-size: contain;
    width: 115px;
    height: 44px;
    margin-top: -2px;
    left: -5px;
}

#share:hover {
    background-color: #fff;
}

#card.active {
    cursor: none;
}

.cursor {
    font-family: FranklinGothicBook;
    font-size: 30px;
    line-height: 0;
    color: #2C8E31;
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#share-result {
    position: absolute;
    bottom: -50px;
}
