html {
  background: #626261 url('/img/background_ua.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: none;
    text-align: center;
}

.dim-screen {
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}

.logo-light {
    position: relative;
    background: url('/img/logo-light-en.png') 0 0 no-repeat;
    background-size: contain;
    width: 218px;
    height: 45px;
    margin: 5vh auto 0;
    z-index: 3;
    opacity: 1;
}

.logo-light.hide {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    opacity: 0;
}

.play-album {
    position: absolute;
    left: 50%;
    margin-left: -214px;
}

.play-album .title {
    max-width: 300px;
}

.frontpage-footer {
    position: absolute;
    left: 50%;
    bottom: 4vh;
    margin-left: -60px;
    color: #e9e9e8;
    text-align: left;
    font-family: FranklinGothicBook;
    line-height: 30px;
    opacity: 0.8;
}

.frontpage-footer a {
    color: #e9e9e8;
}

.frontpage-footer a:hover {
    opacity: 0.9;
}

#closeVideo {
  opacity: 0;
}

#closeVideo.reveal {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

#share {
  opacity: 0;
}

#share.reveal {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

#fbsend {
    right: 252px;
}

#fbsend.en:before {
    background: url('/img/fbsend_en.png') 0 0 no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    html {
        background-image: url('/img/background_ua@2x.jpg');
    }
    .logo-light {
        background-image: url('/img/logo_lat@2x.png');
    }
    #fbsend.en:before {
        background-image: url('/img/fbsend_en@2x.png');
    }
}

@media only screen and (max-width: 375px) {
    .logo-light {
        margin-top: 65px;
    }

    .frontpage-footer {
        left: 30px;
        margin: 20px auto;
    }
}

@media only screen and (min-width: 376px) and (max-width: 667px) {
    .logo-light {
        margin-top: 60px;
    }

    .frontpage-footer {
        position: static;
        margin: 20px auto;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    .logo-light {
        top: 6vh;
        width: 149px;
        margin-left: -75px;
    }
}

